* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
.background-image {
    height: 40vh;
    width: 100%;
   position: fixed;
   top:0%;
   z-index: -1;
   transition: background 0.5s, color 0.5s;
   background-size: cover;  
}
.light-mode {
    background: #f5f7ff;
    color: #2e3a59;
}
.dark-mode {
    background: #161722;
    color: white;
}

 .light-mode > .background-image {
    background: url('images/bg-desktop-light.jpg');
}

 .dark-mode > .background-image {
    background: url('images/bg-desktop-dark.jpg');
}
#theme-switcher {
    background-color: transparent;
    border:none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -2px;
    padding: 0%;
}
.container {
    width: 500px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f5f7ff;
    width: 100%;
}

.new-todo {
    width: 100%;
    padding: 20px 10px ;
    background-color: #f5f7ffe7;
    border: none;
    border-radius: 2px;
    margin-top: 30px;
}

.dark-mode .new-todo {
    background: #25273c;
    color: white;
}

.todo-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.todo-list li {
    gap: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}


.todo-list li.completed {

    text-decoration: line-through;
    color: gray;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.filters button, .clear-completed {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    padding: 5px;
}

.filters button:hover, .clear-completed:hover {
    text-decoration: underline;
}
.theme-switcher {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.card {
    background: #f5f7ff;
    border-radius: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-top: 20px;
}
.dark-mode .card {
    background: #25273c;
    color: white;
}